<mat-card>
  <h2>Edit Project</h2>

  <form (submit)="updateProject()">
    <mat-form-field appearance="outline">
      <mat-label>Project Name</mat-label>
      <input matInput [(ngModel)]="project.name" name="name" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input
        matInput
        [(ngModel)]="project.description"
        name="description"
        required
      />
    </mat-form-field>

    <div class="button-group">
      <button mat-flat-button (click)="router.navigate(['/dashboard'])">
        Back
      </button>
      <button mat-flat-button color="primary" type="submit">
        Save Changes
      </button>
    </div>
  </form>
</mat-card>
